html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.appWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; // dodane
}

.columnsWrapper {
  display: flex;
  width: 100%;
  // flex-wrap: wrap; // pozwala łamać wiersz, jeśli elementy są za szerokie
  box-sizing: border-box;
}

@media (max-width: 200px) {
  .columnsWrapper {
    flex-direction: column;
  }
}