.Box {
  margin-top: 65px;
}

.mainContainer {
  height: 100%;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 50px;
}
