.box {}

.container {}

.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 12rem 0;
    text-align: center;
    background-color: #f5b59a;

    .banner__containerwrapper {
        display: relative;
        align-items: center;
        justify-content: space-between;
        padding: 4.8rem;
        width: 50%;
        background-color: #a2fbdc;

        @media (max-width: 768px) {
            width: 80%;
        }

        @media (max-width: 480px) {
            width: 90%;
            padding: 2.4rem;
        }
    }

    &__title {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    &__sub_title {
        font-size: 1.2rem;
    }

    &__btn {
        display: inline-block;
        position: relative;
        margin-top: 20px;
        text-decoration: none;
        color: orange;
        border: 2px solid orange;
        border-radius: 30px;
        transition: all 0.3s ease;
        z-index: 3;
        align-items: center;
        justify-content: center;
        padding: 2.4rem;
        transition: background-color .3s;
        background-color: #ff7a0d;
        scroll-behavior: smooth;
        cursor: pointer;

        &:hover {
            background-color: rgb(4, 3, 1);
            scroll-behavior: smooth;
        }

        &_icon {
            transform: rotate(180deg);
            vertical-align: middle;
            scroll-behavior: smooth;
        }
    }
}

.contact {
    background-color: #e1f4fe;
    padding: 12rem 0;

    &__container {
        display: flex;
        align-items: center;
        padding: 4.8rem;
        justify-content: space-between;
        border-radius: 4px;
        background-color: #f9f9ff;
    }

    &__wrapper {
        position: relative;
        clear: both;
        width: 100%;
        max-width: 128rem;
        height: auto;
        margin: 0 auto;
    }

    @media (min-width: 319px) and (max-width: 374px),
    (min-width: 375px) and (max-width: 575px),
    (min-width: 576px) and (max-width: 767px) {
        .contact__container {
            flex-direction: column;
            width: calc(100% - 3.2rem);
            padding: 3.6rem;
        }
    }

    &__content {
        position: relative;
    }

    &__content__left {
        display: flex;
        flex-direction: column;
        width: 50%;

        @media (min-width: 319px) and (max-width: 374px),
        (min-width: 375px) and (max-width: 575px),
        (min-width: 576px) and (max-width: 767px) {
            &__content__left {
                width: 100%;
            }
        }
    }

    &__content__right {
        width: 41.6666666667%;
       

        @media (min-width: 319px) and (max-width: 374px),
        (min-width: 375px) and (max-width: 575px),
        (min-width: 576px) and (max-width: 767px) {
            .contact__content--right {
                width: 100%;
            }
        }
    }

    &_text {

        position: relative;
        z-index: 3;
        align-items: center;
        flex-direction: column;

    }

    &__title {
        font-weight: bold;
        line-height: 1;
        font-size: 4rem;
        display: flex;
    }

    &__caption {
        margin-bottom: 3.6rem;
        line-height: 1.5;
        font-size: 2rem;
    }

}


.contact__form {
    margin: 0 auto;

    &_row {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2.4rem;
    }

    &_item {
        position: relative;
        // width: calc(50% - 2.4rem);
    }

    &_inputField,
    &_selectField {
        position: relative;
        padding: 2.4rem;
        border: none;
        border-bottom: 1px solid #c8c8c8;
        outline: none;
        font-family: "Rubik", sans-serif;
        line-height: 1.4;
        font-size: 1.6rem;
        background-color: transparent;
        resize: none;
    }

    &_areaField {
        position: relative;
        width: 250%;
        padding: 2.4rem;
        border: none;
        border-bottom: 1px solid #c8c8c8;
        outline: none;
        font-family: "Rubik", sans-serif;
        line-height: 1.4;
        font-size: 1.6rem;
        background-color: transparent;
        resize: none;
    }

    &_row_consent {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        color: rgba(55, 60, 75, .5019607843);
    }

    &_consent {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
    }


    &_checkboxField {
        margin-right: 10px;
        margin-top: 15px;
    }

    &_checkboxLabel {
        display: flex;
        align-items: flex-start;
        margin-left: 0.8rem;
        text-align: justify;
        line-height: 1.5;
        font-size: 1.6rem;

    }

    &_submitButton {
        padding: 2.4rem 4.8rem;
        color: #fff;
        border: none;
        border-radius: 20px;
        font-size: 1.6rem;
        transition: background-color 0.3s;
        text-transform: uppercase;
        font-weight: 700;
        background-color: #ff7a0d;
        display: inline-flex;
        z-index: 1;
        overflow: hidden;
        align-items: center;
        letter-spacing: 2px;
        font-family: Rubik, sans-serif;
        cursor: pointer;
        margin-left: 20px;
    }

    &_submitButton:hover {
        background-color: #0056b3;

    }
}

.contact__info {

    &_card {
        margin-bottom: 3.6rem;
        padding: 3.6rem;
        background-color: #f2f2f2; // Tło karty
        border-radius: 20px;
    }

    &_card:nth-child(even) {
        background-color: #67b191;
    }

    &_card:nth-child(odd) {
        background-color: #81a3b2;
    }

    &_card_content {
        display: flex;

        gap: 2.4rem;
    }

    &_card_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &_card_title {
        margin-bottom: 1.2rem;
        margin-top: -10px;
        font-weight: 600;
        font-size: 2.4rem;

    }

    &_card_caption {
        margin-top: 10px;
        font-size: 1.8rem;
        line-height: 1.6;

        & a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &_contact__info_card_phone {
        font-weight: 400;
        color: #040413;
    }
}

.error_text {
    min-height: 2.6rem;
    padding: 0 2.4rem;
    opacity: 0;
}