

.footerContainer {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  color: black;
  border-bottom: 2px solid #293241;
  border-radius: 2px;
  background-color: rgb(108, 88, 22);
}

.contactSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.footerTitle {
  color: #1A8EFD;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .8px;
  margin-bottom: 16px;
}

.ftSign {
  color: #1ECAB0;
  font-family: Cambria, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.ftDescription {
  width: 100%;
  max-width: 420px;
  margin-bottom: 40px;
  color: #D0D3DA;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  letter-spacing: .8px;
  line-height: 1.7rem;
}

.footerListTitle {
  margin: 16px 0;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .8px;
  border-bottom: 1px solid #000000;
  padding-bottom: 8px;
}

.footerListItems {
  list-style-type: none;
  padding: 0;
}

.footerListItems li {
  margin: 12px 0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .8px;
}

.footerListItems li a {
  text-decoration: none;
  color: #a5a7ac;
  transition: color 0.3s;
}

.footerListItems li a:hover {
  color: #1A8EFD;
}

.socialMediaLinks {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.socialMediaLinks li a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cbcdd3;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.socialMediaLinks li a svg {
  width: 24px;
  height: 24px;
  fill: #cbcdd3;
}

.socialMediaLinks li a:hover,
.socialMediaLinks li a:hover svg {
  fill: #1A8EFD;
  border-color: #1A8EFD;
}