.loginPageWrapper {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  margin-top: 50px;
  min-height: calc(100vh - 50px); 
  padding: 20px; 
}

.loginMessage {
  margin-top: 20px; 
  display: flex;
  justify-content: center; 
}

@media (max-width: 800px) {
  .loginPageWrapper {
    margin-top: 20px;
    min-height: calc(100vh - 20px);
  }
}
