.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    height: calc(50vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleButton {
    margin: 20px 0;

}

.bottomButton {
    margin-top: auto;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        max-width: 100%;
        height: auto;
        margin: 0 5px;
     
    }

}