.MainContainer {
  background-color: #306ea3;
  max-width: 100%;
}

.wrapper {
  background-color: #306ea3;
  // transition: background-color 0.3s ease; POKOMBINWOAC 
  cursor: pointer;
}

.otherPageButtons {
  display: flex;
  justify-content: center;
  margin: 35px;
  flex-direction: flex;
  align-items: center;
  border-radius: 8px;
  height: 50px;
  width: 100%;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.projects {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  background-color: rgb(23, 94, 34);
  height: calc(100vh - 100px);
  overflow-x: auto;

  .option {
    display: auto;
    color: black;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    margin: 5%;
    background-color: rgb(75, 199, 199);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

  }
}


.scroll_up {
  width: 45px;
  height: 45px;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  background-color: green;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 24px;
  z-index: 20;
  cursor: pointer;
}

.showScroll  {
  display: flex;
}

@media screen and (max-width: 600px) {

  .scroll-up {
    bottom: 32px;
    right: 32px;
  }
}